// .directory-menu {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

.directory-menu {
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;

  .text {
    order: 1;
    text-align: center;

    h3 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }

  div[class]:nth-child(5) {
    order: 2;
  }
}

@media all and (max-width: 450px) {
  .directory-menu {
    .text {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }

    div[class]:nth-child(3) {
      .content {
        padding: 0 8px;
      }
    }
  }
}
@media all and (max-width: 320px) {
  .directory-menu {
    div[class]:nth-child(3) {
      .content {
        padding: 0 3px;
      }
    }
  }
}
